$colors: ( 
    "mobile": red, 
    "tablet": green, 
    "laptop": yellow, 
    "desktop": blue
);

@function color($key) {
    @if not map-has-key($colors, $key) {
        @warn "Key `#{$key}` não encontrada em $colors.";
    }
    @return map-get($colors, $key);
}


@function mobile($key) {
    @return map-get($mobile, $key);
}


$mobile: 512px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1280px;

@mixin mobile {
    @media (min-width: 0px) and (max-width: #{$mobile}) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: #{$mobile+1px}) and (max-width: #{$tablet}) {
        @content;
    }
}
@mixin laptop {
    @media (min-width: #{$tablet+1px}) and (max-width: #{$laptop}) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: #{$laptop+1px}) and (max-width: #{$desktop}) {
        @content;
    }
}